.block{
    display: flex;
    justify-content: center;
    background-image: url("../image/Rectangle 31.png");
    background-repeat: no-repeat;
    background: cover;
    position: absolute;
    border-radius: 30px;
   


  }
  .imgcategory {
    display: flex;
    flex-direction: row;
    width: 50px;
    height: 50px;
  }
  .category1{
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    
  }
  .imguser{
    width: 200px;
    height: 200px;
    border-radius: 30px;

  }
  .imgachievement{
   
    height: 10px;
  }
.imgachievement1{
  width: 100px;
  height: 100px;
}
.imgachievement2{
  width: 100px;
  height: 100px;
}
.imgachievement3{
  width: 100px;
  height: 100px;
}
.col-8{
  margin-left: 40%;
  padding:40% ;
}