.sidebar {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #f1f1f1;
 }
 
 .sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
 }
 .menu{
  padding-top: 20px;
  padding-left: 30px;
  
 }
 
 .sidebar div {
  margin-bottom: 10px;
 }
 
 .sidebar a {
  display: block;
  padding: 10px;
  background-color: #f1f1f1;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
 }
 
 .sidebar a:hover {
  background-color: #ddd;
 }
 .titre{
  font-size: 25px;
  margin-left:  40px;
  margin-top: 20px;
 }
 .logout{
  
   padding-top: 400px; 
 }
  