.navbar {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  background-color: #f1f1f1;
  /* padding: 40px 40px; */
  position: fixed;
  
  

 }
 
 .navbar-left {
  display: flex;
  align-items: center;
 }
 
 .navbar-brand {
  margin-right: 20px;
 }
 .navbar-link{
  font-size: 20px ;
  padding-top: 10px;
  color: black;
  text-decoration: none;
 }
 
 .navbar-item {
  margin-right: 0%;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 10px 20px;


 }
 
 #search {
  width: 256px;
height: 50px !important;
padding: 10px;
/* top: 33px; */
/* left: 329px; */


  border: none !important;
  
  border-radius: 30px !important;
  margin-right: 10px;
  margin-left: 300px;
  box-shadow: 0px 15px 40px 5px #EDEDED;


 }
 
 
 .button {
  width: 180px;
  height: 50px;
  top: 33px;
  left: 865px;
  border-radius: 30px;
  margin-right: 700px;
  background: #8692A6;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 50px ;
 }
 
 .navbar-button:hover {
  background-color: #3e8e41;
 }
 
 
 .user{
 
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  
  
 }
 .imgUser{
 
  width: 50px;
height: 50px;
top: 28px;
border-radius: 50px;
margin-right: 10px ;



 }